	/*style.css */

		body{
			background-color: rgb(34,32,32);
			font-family: "Helvetica", sans-serif;
			color:white;

		}


		#grid{ 
			display:grid;
			grid-template-columns:repeat(3, 1fr);
		}


		.header-container{
			margin-top:-3vh;
			grid-column:1/4;
			grid-row:1;
		}

		.paragraph-container{
			grid-column:1/3;
			grid-row:2;
			margin-bottom:-5vh;

		}

		
		.headshot-container{
			grid-column:3;
			grid-row:2;
		}

		#footer{
			grid-column:1/4;
			grid-row:3;
		}

		

	
		.profile-photo{
			margin-top:6vh;
			margin-right:6vw;
			margin-left:5vw;
			float:right;
			height:65vh;
			max-height:65vh;
			min-height:30vh;

		}


	
		.intro-paragraphs{
			margin-left: 5vw; 
			line-height:2rem;
		}

			#intro{
				margin-top: 12vh ;
				margin-bottom: 2em
			}

			#intro-part2{
				margin-bottom:2em;
			}


		/* This is the mianstudios logo */
		img.header{
			width:13vw;
			min-width:10vw;
			position:absolute;
			left:2vw;
			top:-1vh;
		}

		/* This surrounds the navigation bar */
		
		.menu-bar-box{
			/*background-color:rgba(0,0,0, 0.3);
			background-opacity:0.4; */
			color:white;
			width:35%;
			height:5%;
			position:absolute;
			right:3vw;
			top:5vh;
			padding-bottom:1vh;
		}


			ul.menu-bar li{
				font-weight:bold;
				text-shadow: 0.5px 0.5px;
				list-style-type:none;
				margin-left:1vw;
				margin-right:1vw;
				margin-bottom:0.5vh;
				padding-bottom:3vh;
				padding-right:0vw;
				padding-left:0vw;
				display:inline;
			}

			ul.menu-bar li:hover{
				opacity:0.8;
				cursor:pointer;
			}
			
			.burger{
				display:none;
				position:absolute;
				cursor:pointer;
				right:6vw;
				top:4vh;
			}
			.burger div{
				width:23px;
				height:2px;
				background-color:white;
				margin:5px;
		
			
			}
			
		
		/* This is the cityscape photo for the hero photo */
		.header-photo{
			background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("cityscape-header.jpg");
			margin-top:-2vh;
			margin-left:-2vh;
			margin-right:-2vh;
			padding-top:0;
			height:35vh;
			overflow:hidden;
			 -webkit-background-size: cover;
   			 -moz-background-size: cover;
   			 -o-background-size: cover;
			background-position:center;
			background-repeat:no-repeat;
			background-size:cover;
			position:relative;
		}
	
				.page-title{
				font-family:"Proxima Nova", sans-serif;
				color:white;
				font-size:1.5rem;
				text-align:center;
				margin-top:15vh;
				text-shadow: 1px 1px;
			}




				#home-title::after{
					content:"";
					display:block;
					margin-left:auto;
					margin-right:auto;
					margin-top:-3vh;
					width:23%;
					padding-top:0vh;
					border-bottom: 3px solid white;
				}

				#blog-title::after{
					content:"";
					display:block;
					margin-left:auto;
					margin-right:auto;
					margin-top:-3vh;
					width:8%;
					padding-top:0vh;
					border-bottom: 3px solid white;

				}

			

			a:visited{
				color:rgb(188, 117, 255);
			}

			a:link{
				color:rgb(91,185,252);
			}


			#social-buttons{
				margin-left: 25vw;
				margin-top:5vh;
			}
			.fa{

				padding:1.5rem;
				font-size:1.5rem;
				width:1vw;
				text-align:center;
				text-decoration:none;
				border-radius:50%;
			}

			 .fa:hover {
				opacity:0.7;
			}

				.fa:visited, .fa:link, .fa:active, a.page-links:visited, a.page-links:link {
						color:white;
						text-decoration: none;
					}

				.fa-instagram{
					margin-left:15vw;
					margin-top:4vh;
					background:#bc2a8d;
					color:white;
				}


				.fa-facebook{
					margin-left:3vw;
					background:#3B5998;
					color:white;
				}

				.fa-linkedin{
					margin-left:3vw;
					background: #007bb5;
					color:white;
				}

				.fa-github{
					margin-left:3vw;
					background:#6e5494;
					color:white;
				}

				.fa-twitter{
					margin-left:3vw;
					background:#55ACEE;
					color:white;
				}

			


		
				.footer-images{
					margin-top:25vh;
					margin-left:-1vw;
					margin-right:-1vw;
					margin-bottom:-2vh;
				}

					
					.goto-photos{
						max-width:33.33%;
						opacity:0.5;
						margin-bottom:0;
					}

					
					#gallery-photo, #typewriter-photo{
						float:left;
					}

					#resume-photo{
					float:left;
				}

				

				.button-container{
					width:100%;
					position:relative;
				}

					.button-style{
						font-weight:bold;
						font-size:3vh;color:white;
						font-family:"Proxima Nova", sans-serif;
						background:transparent;
						border:2px solid white;
						height:10vh;
						cursor:pointer;
						width:20vh;
						bottom:23vh;
					}

					.button-style:hover{
						transition-duration: 300ms, 300ms;
		   				 transition-timing-function: cubic-bezier(0.694, 0, 0.335, 1), cubic-bezier(0.694, 0, 0.335, 1);
		    			transition-delay: 0s, 0s;
						background:rgb(34, 32, 32);
					}
				
						#gallery-button{
				
						position:absolute;
						right:79%;

						
					}

						#resume-button{
						
							position:absolute;
							right:45%
						
						}

						#blog-button{
							position:absolute;
							right:11%;	
					}
			

				.footer-text{
					clear:both;
					position:absolute:;
					background:black;
					font-size:11px;
					text-align:center;
					padding:20px;
					margin-top:0;
					margin-right:-1vw;
					margin-left:-1vw;
					margin-bottom:0;
					color:white;
				}





	@media screen and (max-width:375px){
		.fa-instagram{
			margin-left:-4vw;
		}

		#social-buttons{
			margin-left:-4vw;
		}

		.fa-twitter{
			margin-left:2vw;
			margin-right:-1vw;
		}

		.fa-facebook, .fa-linkedin, .fa-github{
			margin-left:2vw;
		}


	}			

		
	@media screen and (max-width:414px){




			#grid{
				grid-template-columns: 1fr 1fr 1fr;
			}

			.header-container{
				grid-row:1;	
				grid-column:1/4;
			}

			.headshot-container{
				grid-row:2;
				grid-column:2;
			}

			.profile-photo{
				float:none;
				margin-left:auto;
				margin-right:auto;
				height:40vh;
				margin-bottom:-7vh;
			}


			#footer{
				grid-row:4/5;
				grid-column:1/4;
			}

			.paragraph-container{
				grid-row:3/4;
				grid-column:1/4;
				margin-right:1vw;
				margin-left:1vw;
			}

			.page-title{
				font-size:1rem;
			}

			img.header{
				width:14vw;
				top:1vh;
				left:2vw;
			}

			.fa{
				width:2vw;
			}

			.fa-instagram{
				margin-left:5vw;
			}
			

			
		}







	@media screen and (min-width:415px) and (max-width:1024px){
			#footer{
				grid-column:1/4;
				grid-row:4;
			}

			.paragraph-container{
					grid-column:1/4;
					grid-row:3/4;
					margin-right:2vw;
				}

			.headshot-container{
				grid-column:2;
				grid-row:2;

				}

			.profile-photo{
			float:none;
			height:70vh;
			margin-bottom:-5vh;
			margin-left:auto;
			margin-right:auto;
		}	
			
			.fa {
				border-radius:50%;
				text-align:center;
				width:2vw;
				max-width:1.5vw;
			}

			.fa-instagram{
				margin-left:11vw;
			} 

		}


		@media screen and (min-width:550px) and (max-width:1024px){
			.fa-instagram{
				margin-left:21vw;
			}
		}
		
		@media screen and (max-width:1024px){

			body{
				overflow-x:hidden;
			}



			.menu-bar-box{
				position:absolute;
				right:0vw;
				height:100vh;
				top:0vh;
				background-color:rgb(34, 32, 32);
				width:40%;
				display:flex;
				flex-direction:column;
				align-items:center;
				transform:translateX(100%);
				transition: transform 0.5s ease-in;

			}

			ul.menu-bar li{
				margin-top:8vh;
				margin-right:3vw;
				font-size:1.4rem;
				display:block;
				border-top: 1px dotted white;
				border-bottom: 1px dotted white;
				text-align:center;
				padding:18px;

			}




			.menu-bar-box-active{
				transform:translateX(0%);
			}

			.burger{
				display:block;


			}

		}

		@media screen and (max-width:997px){
			
			#grid{
				grid-template-columns: 1fr 1fr 1fr;
			}
			#gallery-photo, #typewriter-photo, #resume-photo{
				float:none;
				grid-column:2;
			}

			.footer-images{
				margin-top:10vh;
				width:100%;
			}

			.goto-gallery{
				grid-column:2;
				grid-row:4;
			}


			.goto-photos{
				width:60vw;
				max-width:60vw;
				
				margin-left:auto;
				margin-right:auto;
				margin-top:0;
				margin-bottom:0;
		
				display:block;
			}

			#gallery-photo{
				grid-column:1/4;

			}
			#resume-photo{
				grid-column:1/4;
			}

			#typewriter-photo{
				grid-column:1/4;
				margin-bottom:2vh;
				
			}
				

			.button-style{
				position:relative
			}

			#gallery-button, #resume-button, #blog-button{
				margin-top:0;
				margin-bottom:0;
				margin-right:0;
				margin-left:0;
				right:45%;
	
			}

			#gallery-button{
				bottom:80%;
				

			}

			#resume-button{
				bottom:50%;
			
			}

			#blog-button{
				bottom:20%;
				
			}


		}

		


@media screen and (max-width:414px){
	#gallery-button, #resume-button, #blog-button{
				right:30%;
			}
}

@media screen and (max-width:768px){
	#gallery-button, #resume-button, #blog-button{
				right:38%;
			}
}




		/* The following are style rules specific to the blog page */

		.header-photo-blog{
			background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("typewriter-header.jpg");
			margin-top:-2vh;
			margin-left:-2vh;
			margin-right:-2vh;
			padding-top:0;
			height:35vh;
			overflow:hidden;
			background-position:center;
			background-repeat:no-repeat;
			background-size:cover;
			position:relative;
		}


		
























