	/*style.css */
		#goal{
			color:red;
			font-size:1.5em;
			text-align:center;
			border-top:1px solid rgb(222,222,222);
			border-bottom:1px solid rgb(222,222,222);
			padding-top:1.5vh;
			padding-bottom:1.5vh;
		}
		.list-headings{
			color:rgb(0,153,0);
			text-align:left;
			font-size:  1.5em;
		}
		body{
			background-color: rgb(34,32,32);
			font-family: "Helvetica", sans-serif;
			color:white;
		}
	
		.profile-photo{
			
			margin-right:10vw;
			margin-left:5vw;
			
			float: right;
			height: 65vh;

		}

		.intro-paragraphs{
			margin-left: 5vw; 
			line-height:24px;
			text-align: justify;
		}

		#intro{
			margin-top: 12vh ;
			margin-bottom: 2em
		}

		#intro-part2{
			margin-bottom:2em;
		}

		.list-items{
			text-align:left;
			line-height: 2em;
			font-size: 1.2rem;
			margin-top: -2vh;
		}

		.lists{
			margin-left: 20vw;
		}

		#intro-part3{
			margin-right:40vw;
		}

		/* This is the mianstudios logo */
		img.header{
			width:13vw;
			position:absolute;
			left:2vw;
			top:-1vh;
		}

		/* This surrounds the navigation bar */
		
		#menu-bar-box{
			/*background-color:rgba(0,0,0, 0.3);
			background-opacity:0.4; */
			color:white;
			width:35%;
			height:5%;
			position:absolute;
			right:2.75vw;
			top:5vh;
			padding-bottom:1vh;
		}


		.menu-bar{

		}


		ul.menu-bar li{
			font-weight:bold;
			text-shadow: 0.5px 0.5px;
			list-style-type:none;
			margin-left:1vw;
			margin-right:1vw;
			margin-bottom:0.5vh;
			padding-bottom:3vh;
			padding-right:0vw;
			padding-left:0vw;
			
			display:inline;
		

		}
		
		
		/* This is the cityscape photo for the hero photo */
		.header-photo{
			background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("cityscape-header.jpg");
			margin-top:-2vh;
			margin-left:-2vh;
			margin-right:-2vh;
			padding-top:0;
			height:35vh;
			overflow:hidden;
			background-position:center;
			background-repeat:no-repeat;
			background-size:cover;
			position:relative;
		}
	
			.blog-title{
			font-family:"Proxima Nova", sans-serif;
			color:white;
			font-size:24px;
			text-align:center;
			margin-top:15vh;
			text-shadow: 1.5px 1.5px;
		}

			.blog-title::after{
				content:"";
				display:block;
				margin-left:auto;
				margin-right:auto;
				margin-top:-3vh;
				width:23%;
				padding-top:0vh;
				border-bottom: 4px solid white;
			}

			.post-header{
				margin-top:-5vh;
			}

			a:visited{
				color:rgb(188, 117, 255);
			}

			a:link{
				color:rgb(91,185,252);
			}




			#social-buttons{
				margin-left: 25vw;
			}
			.fa{

				padding:25px;
				font-size:30px;
				width:1vw;
				text-align:center;
				text-decoration:none;
				border-radius:50%;
			}

			 .fa:hover {
				opacity:0.7;
			}

			.fa:visited, .fa:link {
					color:white;
				}

			.fa-instagram{
				margin-left:20vw;
				margin-top:4vh;
				background:#bc2a8d;
				color:white;
			}


			.fa-facebook{
				margin-left:3vw;
				background:#3B5998;
				color:white;
			}

			.fa-linkedin{
				margin-left:3vw;
				background: #007bb5;
				color:white;
			}

			.fa-github{
				margin-left:3vw;
				background:#6e5494;
				color:white;
			}

			.fa-twitter{
				margin-left:3vw;
				background:#55ACEE;
				color:white;
			}

			/*
			.page-photos{
				height:35vh;
				display:block;
				margin-left:auto;
				margin-right:auto;
			}
			*/
			
			
	
			
			#footer{
				margin-left:0;
				margin-right:0;
				margin-top:-10vh;
			}

		/*
			#gallery-photo{
				background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("gallery-photo.jpg"); 
			}

			#resume-photo{
				background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resume-photo.jpg");
			}

			#typewriter-photo{
				background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("typewriter-photo.jpg");
			}

		*/
			.footer-images{
				margin-top:35vh;
				margin-left:-1vw;
				margin-right:-1vw;
				margin-bottom:-2vh;
			}

			
			.goto-photos{
				max-width:33.33%;
				opacity:0.5;
				margin-bottom:0;
			}

			
			#gallery-photo, #typewriter-photo{
				float:left;
			}
			

			.button-container{
				width:100%;
				position:relative;
			}

			.button-style{
				font-weight:bold;
				font-size:3vh;color:white;
				font-family:"Proxima Nova", sans-serif;
				background:transparent;
				border:2px solid white;
				height:10vh;
				cursor:pointer;
				width:20vh;
				bottom:-27vh;
			
				
			}

			.button-style:hover{
				opacity:0.7;
			}
		
				#gallery-button{
				position:absolute;
				right:79%;
				
			}

				#resume-button{
					position:absolute;
					right:45%
					
				}

				#blog-button{
					position:absolute;
					right:11%;
					
				}


			#resume-photo{
				float:left;
			}

		

			.footer-text{
				clear:both;
				position:absolute:;
				background:black;
				font-size:11px;
				text-align:center;
				padding:20px;
				margin-top:0;
				margin-right:-1vw;
				margin-left:-1vw;
				margin-bottom:0;
				color:white;
				box-sizing:border-box;

			}





























